#               Loan Defaulter prediction on XYZorganization_Lending Data

🚩 Important libaries import

In [1]:
import pandas as pd
import numpy as np
import sklearn
import matplotlib.pyplot as plt
import seaborn

🤷‍ data provided to us is in txt notepad ..hence we use read_table option from pandas

In [2]:
lending_data = pd.read_table(r"C:\Users\Manish\Desktop\Imarticus Project\Python Project\Python Project - Bank Lending\XYZCorp_LendingData.txt")

C:\Users\Manish\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3058: DtypeWarning: Columns (17,45,53) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

-> Lets check few observations from dataframe

In [3]:
lending_data.head()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m,default_ind
0,1077501,1296599,5000.0,5000.0,4975.0,36 months,10.65,162.87,B,B2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
1,1077430,1314167,2500.0,2500.0,2500.0,60 months,15.27,59.83,C,C4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
2,1077175,1313524,2400.0,2400.0,2400.0,36 months,15.96,84.33,C,C5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
3,1076863,1277178,10000.0,10000.0,10000.0,36 months,13.49,339.31,C,C1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
4,1075358,1311748,3000.0,3000.0,3000.0,60 months,12.69,67.79,B,B5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0

->Lets count percenatge of null/missing values in each column

In [4]:
len(lending_data) #...gives count of total number of rows

855969

In [5]:
lending_data.count() #..gives columnwise countof non-null values

id                  855969
member_id           855969
loan_amnt           855969
funded_amnt         855969
funded_amnt_inv     855969
                     ...
total_rev_hi_lim    788656
inq_fi               13288
total_cu_tl          13288
inq_last_12m         13288
default_ind         855969
Length: 73, dtype: int64

In [6]:
null_percentage = (1-lending_data.count()/len(lending_data))*100 #created one variable conatining null percentage

In [7]:
null_percentage.sort_values(ascending=False)

dti_joint                    99.948596
verification_status_joint    99.948363
annual_inc_joint             99.948363
il_util                      98.643759
mths_since_rcnt_il           98.488964
                               ...
pub_rec                       0.000000
open_acc                      0.000000
inq_last_6mths                0.000000
earliest_cr_line              0.000000
id                            0.000000
Length: 73, dtype: float64

In [8]:
null_percentage2 = null_percentage[null_percentage>=20] #..filter columns which has more than 40% null values

In [9]:
print(null_percentage2.sort_values(ascending= False))

dti_joint                      99.948596
annual_inc_joint               99.948363
verification_status_joint      99.948363
il_util                        98.643759
mths_since_rcnt_il             98.488964
inq_last_12m                   98.447607
open_il_24m                    98.447607
open_acc_6m                    98.447607
open_il_6m                     98.447607
total_cu_tl                    98.447607
open_il_12m                    98.447607
total_bal_il                   98.447607
open_rv_12m                    98.447607
open_rv_24m                    98.447607
max_bal_bc                     98.447607
all_util                       98.447607
inq_fi                         98.447607
desc                           85.769111
mths_since_last_record         84.674211
mths_since_last_major_derog    75.099682
mths_since_last_delinq         51.381767
next_pymnt_d                   29.553757
dtype: float64

In [10]:
lending_data_new = lending_data.drop(columns=["dti_joint","dti_joint","annual_inc_joint","verification_status_joint",
                                              "il_util","mths_since_rcnt_il","inq_last_12m","total_cu_tl","open_acc_6m",
                                              "open_il_6m","open_il_12m","open_il_24m","total_bal_il","open_rv_12m",
                                              "open_rv_24m","max_bal_bc","all_util","inq_fi","desc","mths_since_last_record",
                                              "mths_since_last_major_derog","mths_since_last_delinq","mths_since_last_major_derog","next_pymnt_d"])

In [11]:
lending_data_new.shape

(855969, 51)

In [12]:
lending_data_new.isnull().sum().sort_values(ascending=False)

tot_cur_bal                   67313
tot_coll_amt                  67313
total_rev_hi_lim              67313
emp_title                     49443
emp_length                    43061
last_pymnt_d                   8862
revol_util                      446
collections_12_mths_ex_med       56
last_credit_pull_d               50
title                            33
issue_d                           0
annual_inc                        0
verification_status               0
default_ind                       0
pymnt_plan                        0
home_ownership                    0
zip_code                          0
purpose                           0
grade                             0
sub_grade                         0
dti                               0
installment                       0
int_rate                          0
term                              0
funded_amnt_inv                   0
funded_amnt                       0
loan_amnt                         0
member_id                         0
addr_state                        0
open_acc                          0
delinq_2yrs                       0
total_rec_prncp                   0
acc_now_delinq                    0
application_type                  0
policy_code                       0
last_pymnt_amnt                   0
collection_recovery_fee           0
recoveries                        0
total_rec_late_fee                0
total_rec_int                     0
total_pymnt_inv                   0
earliest_cr_line                  0
total_pymnt                       0
out_prncp_inv                     0
out_prncp                         0
initial_list_status               0
total_acc                         0
revol_bal                         0
pub_rec                           0
inq_last_6mths                    0
id                                0
dtype: int64