In [1]:
6+7

13

In [5]:
import sys

In [6]:
sys.version

'3.7.4 (default, Aug  9 2019, 18:34:13) [MSC v.1915 64 bit (AMD64)]'

In [7]:
tup1=(1,2,3,7,11,10,20,"Pune")

In [8]:
tup1

(1, 2, 3, 7, 11, 10, 20, 'Pune')

In [9]:
type(tup1)

tuple

In [10]:
tup1[2]

3

In [12]:
tup1[2]=999

TypeError: 'tuple' object does not support item assignment

In [13]:
a=20
b=30
a
b

30

In [14]:
first_list=[1,11,22,33,44,55,66,77,88,99]

In [15]:
type(first_list)

list

In [16]:
first_list[3]  #...[] can be use for selecting specific item.

33

In [18]:
len(first_list)  #..count of number of elements list

10

In [21]:
second_list=[1,11,22,33,44,55,66,77,88,99,"pune"]

In [22]:
type(second_list)

list

In [1]:
second_list[3]=9999

NameError: name 'second_list' is not defined

In [25]:
second_list

[1, 11, 22, 9999, 44, 55, 66, 77, 88, 99, 'pune']

In [26]:
second_list.append(100)  #...append function will add element in list but at the end and always use () barckets

In [27]:
second_list

[1, 11, 22, 9999, 44, 55, 66, 77, 88, 99, 'pune', 100]

In [28]:
third_list=[1,11,22,33,55,66,77,88,99,"pune",1,1,1,1,1,1,1]

In [30]:
third_list.count(1)#....to count specific element in list

8

In [31]:
third_list.index(11) #...index function to know the position of list

1

In [32]:
third_list.index(1)

0

In [34]:
third_list.index(1234)

ValueError: 1234 is not in list

In [37]:
number=(1,2,3,4,5,6)
new_list=list(number)
type(new_list)

list

In [39]:
dict1={"bob":10 , "david":20}
type(dict1)

dict

In [40]:
dict1

{'bob': 10, 'david': 20}

In [41]:
dict1.keys()#...this will give characters or keys in dict.

dict_keys(['bob', 'david'])

In [42]:
dict1.values()

dict_values([10, 20])

In [49]:
emp_data= dict({"name":('a','b','c'),'age':(24,25,30),'salary':(10000,21000,30000)})
print(emp_data)
print (emp_data.keys())
print (emp_data.values())

{'name': ('a', 'b', 'c'), 'age': (24, 25, 30), 'salary': (10000, 21000, 30000)}
dict_keys(['name', 'age', 'salary'])
dict_values([('a', 'b', 'c'), (24, 25, 30), (10000, 21000, 30000)])

In [50]:
import pandas as pd #.....pandas need for data frame

In [53]:
emp_data_df=pd.DataFrame(emp_data) #..we are using pd previously cretaed from pandas and calling it as function pd.DataFrame
emp_data_df

  name  age  salary
0    a   24   10000
1    b   25   21000
2    c   30   30000

In [65]:
#...sets......

first_set=set([1,11,22,55,77,77,1,88,22])  #...here we are using function set

first_set

type(first_set)

set

In [68]:
first_set=set([1,11,22,55,77,77,1,88,22,"pune"])
first_set
type(first_set)

set

In [69]:
first_set[2]#....here we will get because indexing is not possible in sets

TypeError: 'set' object is not subscriptable

In [74]:
#........Number of ways for print

a=10
a
print(a)

print ("the value of a is......",a)

b=20

print ("the value of a and b is......",a,b)

10
the value of a is...... 10
the value of a and b is...... 10 20

In [77]:
list1=[1,2,3,4,5]
mean(list1)

NameError: name 'mean' is not defined

In [80]:
import numpy as np   #....numpy is numeric python and represented as np

np.mean(list1)

3.0

In [81]:
name="MrA"
age=25

print("his name is{} and his age is {}".format(name,age))

his name isMrA and his age is 25

# Below is for Input  function

In [1]:
num1=input("enter the value of number")

enter the value of number23

In [2]:
num1

'23'

In [1]:
print(num1)

NameError: name 'num1' is not defined

In [5]:
num2=eval(input("enter the value of number"))#...eval function maintains the data type as it is..eg. integer

enter the value of number18

In [1]:
num2+40

NameError: name 'num2' is not defined